In [1]:
import sqlite3

In [2]:
db=sqlite3.connect('aliens.db')

In [6]:
db.execute('CREATE TABLE Explorer (id int primary key, name TEXT, rank TEXT,assignment TEXT, species TEXT)')

OperationalError: table Explorer already exists

In [7]:
db.execute('CREATE TABLE Alien (id int primary key, name TEXT, species TEXT,homeworld TEXT, affiliation TEXT)')

OperationalError: table Alien already exists

In [26]:
db.commit()

In [27]:
db.close()